@import (inline) "~normalize.css";
@import (inline) "~codemirror/lib/codemirror.css";

@border-color: #ccc;
@title-padding: 1em;
@page-min-height: 500px;
@editor-min-height: 200px;

body {
  font-size: 18px;
  padding: 2em;
}

.source-container {
  min-height: @editor-min-height;
  border-top: 1px solid @border-color;
  flex: 1;
}

.source-container .CodeMirror,
.source-container .ReactCodeMirror {
  height: 100%;
}

.save-btn {
  min-width: 240px;
  cursor: pointer;
}
